extends layout

block styles
  link(rel='stylesheet', href='/css/splash.css')

block content
  h1= title

  .container-fluid
    #formEntry.row
      form.form-inline
        .form-group
          label(for='input') Item Name
          input#nameEntry.form-control(type='name', placeholder='Enter Item', value='', required='')
        .form-group
          label(for='input') Description
          input#descEntry.form-control(type='name', placeholder='Enter Description', value='')
        .form-group
          label(for='input') Description
          input#descEntry.form-control(type='name', placeholder='Enter Description', value='')
        .form-group
          label.amount(for='input') Price
          .input-group $
          input#priceEntry.form-control(type='number', placeholder='Enter Price', value='', step='0.01', required='')
        .btn-group
          button#catEntry.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Add Category
            span.caret
          ul#catDropDown.dropdown-menu
            li.dropList(selected='selected', value='Art')
              a(href='#') Art
            li.dropList(selected='selected', value='Home')
              a(href='#') Home
            li.dropList(selected='selected')
              a(href='#') Booze
            li.dropList(selected='selected', value='Clothes')
              a(href='#') la ropa

    a#newEntry.btn.btn-danger(href='/', role='button') Add New Item Listing

block scripts  
  script(src='js/admin.js')
