extends layout

block styles
  link(rel='stylesheet', href='/css/splash.css')
  
block content
  body
    h1 Hipster Shopping Guide
    h4 don’t be too cool to consume
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Enter Shop

block scripts  
  script(src='js/main.js')
